.prev {
  left: 10px;
}
.next{
 right: 10px;
}


.slide.active {
  opacity: 1;
  z-index: 1;
  pointer-events: auto;
}

button{

  top: 50%;
  transform: translateY(-50%);
  position: absolute;
  z-index: 10;
}


.slide {
  width: 50%;
  height: 50%;
  position: absolute;
  top:0;
  left:0;
  pointer-events: none;
  opacity: 0;
  object-fit: contain;
   transition: opacity 0.8s ease-in-out;
}

.slider {
  width: 100%;
  margin: auto;
  height: 1000px;
  position: relative;
}